.paragraph {
  font-weight: 400;
  margin: 0;
  color: var(--black);
}

.small {
  font-size: 14px;
  line-height: 1.71;
}

.medium {
  font-size: 16px;
  line-height: 1.5;
}

.large {
  font-size: 18px;
  line-height: 1.61;
}
