.advantagesList {
	margin: 30px 0;
}

.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 20px 40px;

	margin-bottom: 30px;
}

.line {
	border-left: 1px solid var(--grey-light);
}

.text {
	margin-top: 10px;
}

.title {
	align-self: center;

	font-weight: 700;
}
