.ratingWrapper {
  position: relative;
}

.star svg {
  margin-right: 5px;
  fill: #e2e2e2;
}

.filled svg {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}

.star svg:focus {
  outline: none;
}

.star svg:focus-visible {
  outline: -webkit-focus-ring-color auto 5px;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red);
}

.error svg {
  stroke: var(--red);
}
