.ratingWrapper {
  position: relative;
}

.star {
  display: inline-block;
}
.star svg {
  margin-right: 5px;
  fill: #e2e2e2;
}

.filled svg {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red);
}

.error svg {
  stroke: var(--red);
}
