.reviewForm {
  font-size: 14px;
  line-height: 24px;

  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  align-items: center;
  justify-items: left;
  gap: 20px 30px;
}

.description,
.submit {
  width: 100%;
  grid-column: start / end;
}

.description {
  height: 76px;
}

.submit span {
  margin-left: 15px;
}

.rating {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.success {
  background-color: var(--green-light);
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
}

.successTitle {
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .reviewForm {
    grid-template-columns: [start] 1fr 1fr [end];
  }
  .rating {
    grid-column: start / end;
  }
}

@media screen and (max-width: 930px) {
  .reviewForm {
    grid-template-columns: [start] 1fr [end];
  }
}
