html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #f5f6f8;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

img {
  display: block;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

:root {
  --black: #3b434e;
  --grey-light: #ebebeb;
  --grey-dark: #6c7077;
  --grey: #a4a4a4;
  --white: #ffffff;
  --primary: #7351f5;
  --primary-hover: #6344df;
  --red-light: #f9d4ce;
  --red: #fc836d;
  --green: #007b48;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans", sans-serif;
}
