html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans", sans-serif;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a {
	text-decoration: none;

	color: inherit;
}

img {
	display: block;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}

:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--grey-dark: #6C7077;
	--grey: #A4A4A4;
	--white: #FFF;
	--primary: #7351F5;
	--primary-hover: #6344DF;
	--red-light: #F9D4CE;
	--red: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}
