html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #f5f6f8;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

:root {
  --black: #3b434e;
  --grey-light: #ebebeb;
  --grey-dark: #787d85;
  --grey: #a4a4a4;
  --white: #ffffff;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans", sans-serif;
}
